USE [master]
GO
/****** Object:  Database [DatasetSharingDb]    Script Date: 2025/12/10 22:04:57 ******/
CREATE DATABASE [DatasetSharingDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DatasetSharingDb', FILENAME = N'F:\DatasetSharingDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DatasetSharingDb_log', FILENAME = N'F:\DatasetSharingDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DatasetSharingDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DatasetSharingDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025/12/10 22:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 2025/12/10 22:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DatasetId] [int] NOT NULL,
	[ReviewerName] [nvarchar](max) NOT NULL,
	[Action] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2025/12/10 22:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DatasetId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatasetDownloadRecords]    Script Date: 2025/12/10 22:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatasetDownloadRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DatasetId] [int] NOT NULL,
	[DownloadTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatasetPermissions]    Script Date: 2025/12/10 22:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatasetPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DatasetId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_DatasetPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Datasets]    Script Date: 2025/12/10 22:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datasets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[DownloadPermission] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[UploadTime] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Datasets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatasetTags]    Script Date: 2025/12/10 22:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatasetTags](
	[DatasetId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_DatasetTags] PRIMARY KEY CLUSTERED 
(
	[DatasetId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatasetViewRecords]    Script Date: 2025/12/10 22:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatasetViewRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DatasetId] [int] NOT NULL,
	[ViewTime] [datetime2](7) NOT NULL,
	[ViewCount] [int] NOT NULL,
 CONSTRAINT [PK_DatasetViewRecords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DownloadPermissionRequests]    Script Date: 2025/12/10 22:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DownloadPermissionRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequesterId] [int] NOT NULL,
	[DatasetId] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DownloadPermissionRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 2025/12/10 22:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/12/10 22:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_DatasetId]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_DatasetId] ON [dbo].[AuditLogs]
(
	[DatasetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_DatasetId]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_DatasetId] ON [dbo].[Comments]
(
	[DatasetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_UserId]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_UserId] ON [dbo].[Comments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatasetDownloadRecords_DatasetId]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_DatasetDownloadRecords_DatasetId] ON [dbo].[DatasetDownloadRecords]
(
	[DatasetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatasetPermissions_DatasetId]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_DatasetPermissions_DatasetId] ON [dbo].[DatasetPermissions]
(
	[DatasetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatasetPermissions_UserId]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_DatasetPermissions_UserId] ON [dbo].[DatasetPermissions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Datasets_UserId]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_Datasets_UserId] ON [dbo].[Datasets]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatasetTags_TagId]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_DatasetTags_TagId] ON [dbo].[DatasetTags]
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatasetViewRecords_DatasetId]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_DatasetViewRecords_DatasetId] ON [dbo].[DatasetViewRecords]
(
	[DatasetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatasetViewRecords_UserId]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_DatasetViewRecords_UserId] ON [dbo].[DatasetViewRecords]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DownloadPermissionRequests_DatasetId]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_DownloadPermissionRequests_DatasetId] ON [dbo].[DownloadPermissionRequests]
(
	[DatasetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DownloadPermissionRequests_RequesterId]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_DownloadPermissionRequests_RequesterId] ON [dbo].[DownloadPermissionRequests]
(
	[RequesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tags_Name]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_Tags_Name] ON [dbo].[Tags]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tags_ParentId]    Script Date: 2025/12/10 22:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_Tags_ParentId] ON [dbo].[Tags]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatasetViewRecords] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Datasets_DatasetId] FOREIGN KEY([DatasetId])
REFERENCES [dbo].[Datasets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Datasets_DatasetId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Datasets_DatasetId] FOREIGN KEY([DatasetId])
REFERENCES [dbo].[Datasets] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Datasets_DatasetId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_UserId]
GO
ALTER TABLE [dbo].[DatasetDownloadRecords]  WITH CHECK ADD  CONSTRAINT [FK_DownloadRecord_Dataset] FOREIGN KEY([DatasetId])
REFERENCES [dbo].[Datasets] ([Id])
GO
ALTER TABLE [dbo].[DatasetDownloadRecords] CHECK CONSTRAINT [FK_DownloadRecord_Dataset]
GO
ALTER TABLE [dbo].[DatasetDownloadRecords]  WITH CHECK ADD  CONSTRAINT [FK_DownloadRecord_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DatasetDownloadRecords] CHECK CONSTRAINT [FK_DownloadRecord_User]
GO
ALTER TABLE [dbo].[DatasetPermissions]  WITH CHECK ADD  CONSTRAINT [FK_DatasetPermissions_Datasets_DatasetId] FOREIGN KEY([DatasetId])
REFERENCES [dbo].[Datasets] ([Id])
GO
ALTER TABLE [dbo].[DatasetPermissions] CHECK CONSTRAINT [FK_DatasetPermissions_Datasets_DatasetId]
GO
ALTER TABLE [dbo].[DatasetPermissions]  WITH CHECK ADD  CONSTRAINT [FK_DatasetPermissions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DatasetPermissions] CHECK CONSTRAINT [FK_DatasetPermissions_Users_UserId]
GO
ALTER TABLE [dbo].[Datasets]  WITH CHECK ADD  CONSTRAINT [FK_Datasets_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Datasets] CHECK CONSTRAINT [FK_Datasets_Users_UserId]
GO
ALTER TABLE [dbo].[DatasetTags]  WITH CHECK ADD  CONSTRAINT [FK_DatasetTags_Datasets_DatasetId] FOREIGN KEY([DatasetId])
REFERENCES [dbo].[Datasets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DatasetTags] CHECK CONSTRAINT [FK_DatasetTags_Datasets_DatasetId]
GO
ALTER TABLE [dbo].[DatasetTags]  WITH CHECK ADD  CONSTRAINT [FK_DatasetTags_Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DatasetTags] CHECK CONSTRAINT [FK_DatasetTags_Tags_TagId]
GO
ALTER TABLE [dbo].[DatasetViewRecords]  WITH CHECK ADD  CONSTRAINT [FK_DatasetViewRecords_Datasets_DatasetId] FOREIGN KEY([DatasetId])
REFERENCES [dbo].[Datasets] ([Id])
GO
ALTER TABLE [dbo].[DatasetViewRecords] CHECK CONSTRAINT [FK_DatasetViewRecords_Datasets_DatasetId]
GO
ALTER TABLE [dbo].[DatasetViewRecords]  WITH CHECK ADD  CONSTRAINT [FK_DatasetViewRecords_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DatasetViewRecords] CHECK CONSTRAINT [FK_DatasetViewRecords_Users_UserId]
GO
ALTER TABLE [dbo].[DownloadPermissionRequests]  WITH CHECK ADD  CONSTRAINT [FK_DownloadPermissionRequests_Datasets_DatasetId] FOREIGN KEY([DatasetId])
REFERENCES [dbo].[Datasets] ([Id])
GO
ALTER TABLE [dbo].[DownloadPermissionRequests] CHECK CONSTRAINT [FK_DownloadPermissionRequests_Datasets_DatasetId]
GO
ALTER TABLE [dbo].[DownloadPermissionRequests]  WITH CHECK ADD  CONSTRAINT [FK_DownloadPermissionRequests_Users_RequesterId] FOREIGN KEY([RequesterId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DownloadPermissionRequests] CHECK CONSTRAINT [FK_DownloadPermissionRequests_Users_RequesterId]
GO
ALTER TABLE [dbo].[Tags]  WITH CHECK ADD  CONSTRAINT [FK_Tags_Tags_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Tags] ([Id])
GO
ALTER TABLE [dbo].[Tags] CHECK CONSTRAINT [FK_Tags_Tags_ParentId]
GO
USE [master]
GO
